[env]
build_flags =
	'-D WIFI_SSID="<wifi_ssid>"'
	'-D WIFI_PASSWORD="<wifi_password>"'
    '-D MQTT_SERVER="<mqtt_server>"'
    '-D MQTT_PORT=1883'
    '-D MQTT_USERNAME="<mqtt_username>"'
    '-D MQTT_PASSWORD="<mqtt_password>"'
    '-D OTA_PASSWORD="<ota_password>"'
#    '-D MODE_TEXT="Mode"'
#    '-D MODE_HOME_TEXT="Home"'
#    '-D MODE_AWAY_TEXT="Away"'
#    '-D MODE_NIGHT_TEXT="Night"'
#    '-D MODE_CUSTOM_TEXT="Custom"'
#    '-D KEYPAD_SENT_TEXT="Sent"'
#    '-D KEYPAD_ENTER_PIN_TEXT="Pin please"'

[common]
ota_ip = 192.168.0.2
